.button {
    background-color: #cf181b;
    color: white;
    border: none;
    padding: 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 10px;
}

.button:hover {
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px #cf181b;
}