.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.containerRestaurant {
  border: 3px solid #cf181b;
  padding: 15px;
  height: 350px;
  width: 280px;
  border-radius: 15px;
  margin-top: 30px;
  margin-right: 20px;
}

.containerRestaurant:hover {
  box-shadow: none;
  cursor: pointer;
  border: 3px solid #ff0000;
  box-shadow: 5px 5px 5px #ff0000;
}

.text{
  font-weight: bold;
}

.inline {
  display: flex;
}