.container {
    display: flex;
    justify-content: space-between;
    /*box-shadow: 2px 2px 2px #cf181b;*/
    border-bottom: 2px solid #cf181b;
    position: sticky;
    top: 0;
    background-color: white;
}

.logo { 
    margin-top: 5px;
}

.logo:hover {
    background-color: #ff0004;
    cursor: pointer;
}

.line {
    display: flex;
}